NetM-WCF-Basic-Hosting Endpoints Configuration/WCFHostings/WCFContractTests/Service References/OrderServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/Mentoring/WCF/OrderService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/Mentoring/WCF/OrderService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/Mentoring/WCF/OrderService/Imports">
      <xsd:import schemaLocation="http://localhost/OrderService/?xsd=xsd0" namespace="http://epam.com/Mentoring/WCF/OrderService" />
      <xsd:import schemaLocation="http://localhost/OrderService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/OrderService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_OrdersWithStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdersWithStatuses" />
  </wsdl:message>
  <wsdl:message name="IOrderService_OrdersWithStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersWithStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Orders_InputMessage">
    <wsdl:part name="parameters" element="tns:Orders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Orders_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_LastNewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:LastNewOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_LastNewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Details_InputMessage">
    <wsdl:part name="parameters" element="tns:Details" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Details_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStatus" />
  </wsdl:message>
  <wsdl:message name="IOrderService_IsInProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInProgress" />
  </wsdl:message>
  <wsdl:message name="IOrderService_IsDone_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDone" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="OrdersWithStatuses">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/OrdersWithStatuses" message="tns:IOrderService_OrdersWithStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/OrdersWithStatusesResponse" message="tns:IOrderService_OrdersWithStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Orders">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/Orders" message="tns:IOrderService_Orders_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/OrdersResponse" message="tns:IOrderService_Orders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastNewOrder">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/LastNewOrder" message="tns:IOrderService_LastNewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/LastNewOrderResponse" message="tns:IOrderService_LastNewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Details">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/Details" message="tns:IOrderService_Details_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/DetailsResponse" message="tns:IOrderService_Details_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/Create" message="tns:IOrderService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/CreateResponse" message="tns:IOrderService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/Update" message="tns:IOrderService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/UpdateResponse" message="tns:IOrderService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/Delete" message="tns:IOrderService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/DeleteResponse" message="tns:IOrderService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStatus">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/SetStatus" message="tns:IOrderService_SetStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsInProgress">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/IsInProgress" message="tns:IOrderService_IsInProgress_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDone">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/OrderService/IOrderService/IsDone" message="tns:IOrderService_IsDone_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>