NetM-WCF-Basic-Basic WCF security/WCFHostings/Implementations/Service References/SubscribeServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Contracts/SubscribeService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OrderWithStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="OldStatus" type="tns:Statuses" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:Statuses" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OrderWithStatus" nillable="true" type="tns:OrderWithStatus" />
  <xs:simpleType name="Statuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Statuses" nillable="true" type="tns:Statuses" />
</xs:schema>