NetM-WCF-Basic-Contracts/WCFContracts/WCFContractTests/Service References/CategoryServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://epam.com/Mentoring/WCF/CategoryService" elementFormDefault="qualified" targetNamespace="http://epam.com/Mentoring/WCF/CategoryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Contracts/CategoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel" />
  <xs:import schemaLocation="http://localhost:8733/Contracts/CategoryService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://localhost:8733/Contracts/CategoryService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CategoryService" />
  <xs:element name="Categories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindModel" minOccurs="0" name="CategoriesResult" nillable="true" type="q1:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetPictureResult" nillable="true" type="q2:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CategoryService" minOccurs="0" name="cp" nillable="true" type="q3:CategoryPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPictureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBytesToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CategoryService" minOccurs="0" name="cp" nillable="true" type="q4:CategoryPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBytesToFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>