NetM-WCF-Basic-Hosting Endpoints Configuration/WCFHostings/OrderService/Service References/SubscribeServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://epam.com/Mentoring/WCF/SubscribeService" elementFormDefault="qualified" targetNamespace="http://epam.com/Mentoring/WCF/SubscribeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Contracts/SubscribeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindModel" minOccurs="0" name="ows" nillable="true" type="q1:OrderWithStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyEveryone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindModel" minOccurs="0" name="ows" nillable="true" type="q2:OrderWithStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NorthwindModel" minOccurs="0" name="ows" nillable="true" type="q3:OrderWithStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusWasChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NorthwindModel" minOccurs="0" name="order" nillable="true" type="q4:OrderWithStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>