NetM-WCF-Basic-Hosting Endpoints Configuration/WCFHostings/OrderServiceLibrary/Service References/SubscribeServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/Mentoring/WCF/SubscribeService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/Mentoring/WCF/SubscribeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/Mentoring/WCF/SubscribeService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Contracts/SubscribeService/?xsd=xsd0" namespace="http://epam.com/Mentoring/WCF/SubscribeService" />
      <xsd:import schemaLocation="http://localhost:8733/Contracts/SubscribeService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Contracts/SubscribeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscribeService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ISubscribeService_NotifyEveryone_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyEveryone" />
  </wsdl:message>
  <wsdl:message name="ISubscribeService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ISubscribeService_StatusWasChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StatusWasChanged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISubscribeService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/SubscribeService/ISubscribeService/Subscribe" message="tns:ISubscribeService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyEveryone">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/SubscribeService/ISubscribeService/NotifyEveryone" message="tns:ISubscribeService_NotifyEveryone_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/SubscribeService/ISubscribeService/Unsubscribe" message="tns:ISubscribeService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StatusWasChanged">
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/SubscribeService/ISubscribeService/StatusWasChanged" message="tns:ISubscribeService_StatusWasChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>