NetM-WCF-Basic-Hosting Endpoints Configuration/WCFHostings/WCFContractTests/Service References/IISCategoryServiceReference/category.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/Mentoring/WCF/CategoryService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/Mentoring/WCF/CategoryService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/Mentoring/WCF/CategoryService/Imports">
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd0" namespace="http://epam.com/Mentoring/WCF/CategoryService" />
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel" />
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:52685/category.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CategoryServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryServiceLibrary_Categories_InputMessage">
    <wsdl:part name="parameters" element="tns:Categories" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_Categories_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_SetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPicture" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_SetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_SaveBytesToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBytesToFile" />
  </wsdl:message>
  <wsdl:message name="ICategoryServiceLibrary_SaveBytesToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBytesToFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryServiceLibrary">
    <wsdl:operation name="Categories">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/Categories" message="tns:ICategoryServiceLibrary_Categories_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/CategoriesResponse" message="tns:ICategoryServiceLibrary_Categories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/GetPicture" message="tns:ICategoryServiceLibrary_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/GetPictureResponse" message="tns:ICategoryServiceLibrary_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPicture">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/SetPicture" message="tns:ICategoryServiceLibrary_SetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/SetPictureResponse" message="tns:ICategoryServiceLibrary_SetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBytesToFile">
      <wsdl:input wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/SaveBytesToFile" message="tns:ICategoryServiceLibrary_SaveBytesToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/Mentoring/WCF/CategoryService/ICategoryServiceLibrary/SaveBytesToFileResponse" message="tns:ICategoryServiceLibrary_SaveBytesToFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>